* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html, body {
    background: rgb(192, 192, 192);
    color: #000000;
    font-family:'Open Sans', sans-serif;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    
    
}

header {
  align-items: center;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
  min-height: 150px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  text-decoration: inherit;
  border: 10px solid;
  border-image-slice: 1 1 1 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #ff00ff, #e49b0f);
  border-radius: inherit;
  background-origin: border-box;
  background-clip: content-box ,border-box;
 -webkit-backgroubd-clip: content-box, border-box;
 -webkit-background-fill-color: trasparent;
}
  
 
     header.fill {
   border-image-slice: 1 1 1 1 fill;
     }


h1 {
    background-image: linear-gradient(to right, #ff00ff, #e49b0f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;    
}

img {
    width: 380px; 
    height: auto;
    border: 3px solid darkgoldenrod;
    border-radius: 15px;
 }


.button {
  --color-1: #e5fb6a;
  --color-2: #2bf46e;
  --color-1-shadow: #e5fb6a23;
  --color-2-shadow: #2bf46e23;
  --color-1-shadow-focus: #e5fb6a67;
  --color-2-shadow-focus: #2bf46e67;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;  
  width: 100%;  
  height: auto; 
  font-size: 1rem;
  background-image: linear-gradient(
    to right bottom,
    var(--color-1) 0%,
    var(--color-2) 100%
  );
  box-shadow:
    -4px -4px 16px 8px var(--color-1-shadow),
    4px 4px 16px 8px var(--color-2-shadow);
  transition: all 0.3s cubic-bezier(0.6, 0.12, 0.39, 0.83);
}

.button:hover,
.button:active,
.button:focus,
.button:focus-visible,
.button:focus-within {
  box-shadow:
    -4px -4px 32px 4px var(--color-1-shadow-focus),
    4px 4px 32px 4px var(--color-2-shadow-focus);
}

.button:hover {
  filter: contrast(1.25);
}

    








